.home {
}
.home-about {
  padding: 50px;
  text-align: justify;
}
.home-about > h2 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .home-about {
    padding: 20px;
    text-align: justify;
  }
}
